.ecosystem-wrapper {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  gap: 36px;
}

.title-eco {
  color: rgb(255, 255, 255);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}

.wrap-box-eco {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}

.box-item-eco {
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex: 1 0 0px;
  border-radius: 16px;
  background: rgb(12, 15, 12);
  width: 100%;
}

.box-info-eco {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  gap: 12px;
}
.name {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}
.price {
  color: var(--Primary, #90fb75);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  margin-top: 4px;
}

.desc {
  color: var(--Text-Text_Secondary, #828899);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
.sub-price {
  color: var(--Text-Text_Secondary, #828899);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}
.box-apr {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 16px;
  background: rgb(22, 26, 22);
}

.apr-item {
  display: flex;
  padding: 24px 12px;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  gap: var(--Base-Unit-XS-8, 8px);
  flex: 1 0 0px;
  align-self: stretch;
}

.img-apr {
  display: flex;
  width: 24px;
  height: 24px;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}
.apr-percent {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  color: var(--Primary, #90fb75);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  gap: 4px;
}
.sub-apr {
  color: var(--Text-Text_Secondary, #828899);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}
.group-btn {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}
.btn-network {
  flex: 1 1 0%;
}
.default-btn {
  align-items: center;
  appearance: none;
  background: #90fb75;
  border: none;
  border-radius: 100px !important;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-flex !important;
  font-size: 14px;
  justify-content: center;
  letter-spacing: 0;
  line-height: 140%;
  min-height: 40px;
  padding: 8px 16px;
  position: relative;
  text-decoration: none;
  font-weight: 700;
}
.btn-outline-landing {
  cursor: pointer;
  align-items: center;
  background-color: #0000;
  border: 1px solid var(--Border, #ffffff1a);
  border-radius: 10000px;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  gap: 4px;
  justify-content: center;
  line-height: 140%;
  min-height: 40px;
  padding: var(--Base-Unit-XS-8, 8px) 16px;
  color: #fff;
}
.btn-outline-landing:hover {
  background-color: #ffffff1a;
}
@keyframes fadeInDown-eco-title {
  0% {
    opacity: 0;
    transform: translateY(-70px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeOutUp-eco-title {
  0% {
    opacity: 1;
    transform: none;
  }
  100% {
    opacity: 0;
    transform: translateY(-70px);
  }
}
@keyframes fadeInDown-eco-desc {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeOutUp-eco-desc {
  0% {
    opacity: 1;
    transform: none;
  }
  100% {
    opacity: 0;
    transform: translateY(40px);
  }
}
@keyframes fadeInDown-eco-container {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOutUp-eco-container {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeInDown-eco-item {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeOutUp-eco-item {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(40px);
  }
}
.title-eco {
  opacity: 0;
  transform: translateY(-70px);
}
.wrap-box-eco {
  opacity: 0;
}
.box-item-eco {
  opacity: 0;
  transform: translateY(40px);
}
.title-eco.visible {
  animation: fadeInDown-eco-title 0.6s ease-out forwards;
}
.wrap-box-eco.visible {
  animation: fadeInDown-eco-container 0.6s ease-out forwards;
}
.box-item-eco.visible {
  animation: fadeInDown-eco-item 0.6s ease-out forwards;
}
.title-eco.hidden {
  animation: fadeOutUp-eco-title 0.6s ease-out forwards;
}
.wrap-box-eco.hidden {
  animation: fadeOutUp-eco-container 0.6s ease-out forwards;
}
.box-item-eco.hidden {
  animation: fadeOutUp-eco-item 0.6s ease-out forwards;
}
@media screen and (max-width: 768px) {
  .title-eco{
    font-size: 28px;
  }
}
@media screen and (max-width: 1024px) {
  .wrap-box-eco{
    flex-direction: column;
  }
  
}
