.info {

   .title {
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    margin-bottom: 24px;
    color: #fff;
   }
.item-protocol 
{
    display: flex;
    padding: 48px 0px;
    -webkit-box-align: center;
    align-items: center;
    gap: 24px;
    flex: 1 0 0px;
    align-self: stretch;
}
.box-title {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    align-items: flex-end;
    gap: 16px;
    flex: 1 0 0px;
    color: rgb(255, 255, 255);
    text-align: right;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
}
.title-protocol {
    color: var(--Primary, #90fb75);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
}
.line-left {
    height: 2px;
    align-self: stretch;
    background: linear-gradient(270deg, rgb(144, 251, 117) 0%, rgba(85, 149, 69, 0) 100%);
}
.mid-protocol {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    align-self: stretch;
}
.line-top {
    width: 2px;
    flex: 1 0 0px;
    background: linear-gradient(rgba(85, 149, 69, 0) 0%, rgb(144, 251, 117) 100%);
}
.mid-protocol > :not(:first-child) {
    margin-top: -2px;
}
.line-bottom {
    width: 2px;
    flex: 1 0 0px;
    background: linear-gradient(rgb(144, 251, 117) 0%, rgba(85, 149, 69, 0) 100%);
}
.title-right {
    align-items: flex-start;
}
.desc-right
{
    text-align: left;
}
.line-right {
    height: 2px;
    align-self: stretch;
    background: linear-gradient(270deg, rgba(85, 149, 69, 0) 0%, rgb(144, 251, 117) 100%);
}
}