.App {
  min-height: 100vh;
  overflow: hidden;
  position: relative;
}

.videoTag {
  filter: brightness(60%) blur(4px);
  left: 0;
  mask-image: linear-gradient(180deg, #000 70%, #0000);
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
  max-height: 770px;
  /* object-fit: cover; */
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

.App-content header {
  position: relative;
  z-index: 800;
}

.App-header-head {
  border-bottom: 1px solid var(--Border, #373f5c80);
  display: flex;
  height: 65px;
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 16px;
  left: 0;
  position: absolute !important;
  right: 0;
  top: 0;
}

.App-header-container-left {
  display: flex;
  align-items: center;
}

.App-header-link-main {
  cursor: pointer;
  display: flex;
  font-size: 1.7rem;
  margin-left: -15px;
  margin-right: 12px;
  padding: 15px;
}

.App-header-links {
  display: flex;
}

.App-header-links-item {
  align-items: center;
  display: flex;
  position: relative;

  a {
    font-size: normal;
    line-height: 140%;
    color: #828899;
    display: flex;
    font-size: 14px;
    font-weight: 500;
    padding: 8px 12px;
    text-decoration: none;
    vertical-align: middle;
  }

  a:hover {
    color: #2ecf06 !important;
    opacity: 1;
  }
}

.App-header-container-right {
  display: flex;
  align-items: center;
}

.App-header-user {
  display: flex;
  align-items: center;
  gap: 8px;
}

.App-header-trade-link {
  border-radius: 12px;

  a {
    cursor: pointer;
    vertical-align: middle;
  }

  a:hover {
    background: #79ee5c;
    color: #000;
  }
}

.Wrapper {
  display: flex;
  flex-direction: column;
  gap: 120px;
  width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1320px;
}

.wrapper {
  display: flex;
  align-items: center;
  align-self: stretch;
}

.wrapper > :not(:first-child) {
  margin-left: -2px;
}

.link-underline {
  color: #90fb75;
  cursor: pointer;
  display: inline-flex;
  text-decoration: underline;
}

.contest-container {
  left: 50%;
  transform: translate(-50%, 0%);
  align-items: center;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 104px;
  z-index: 300;
}

.contest {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  align-items: center;
  background: linear-gradient(90deg, #8bff55, #fbf775);
  border-radius: 100px;
  display: flex;
  gap: 8px;
  height: 35px;
  justify-content: center;
  padding: 8px 24px;
  position: relative;
}

.content-container {
  align-items: center;
  display: flex;
  gap: 4px;
}

.details {
  cursor: pointer;
  display: inline-flex;
  text-decoration: underline;

  a {
    color: #000;
  }

  a:hover {
    color: #2ecf06;
  }
}

.cup {
  bottom: -3.467px;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  left: 0;
  left: -10.5px;
  line-height: 140%;
  position: absolute;
  top: 0;
  transform: rotate(-15deg);
}

.border-btn:not(:disabled):not(.disabled):hover,
.border-btn:not(:disabled):not(.disabled):hover:enabled {
  border: 1px solid #90fb75 !important;
  box-shadow: none !important;
  color: #90fb75 !important;
}

.border-btn:has(a),
.border-btn:is(a) {
  align-items: center;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.border-btn {
  background: none !important;
  border: 1px solid rgba(55, 63, 92, 0.502) !important;
  border-radius: 100px !important;
  color: #fff !important;
  font-size: 14px !important;
  font-weight: 700 !important;
  height: 40px;
  line-height: 140% !important;
}

.default-btn1:not(:disabled):hover,
.default-btn:not(:disabled):hover {
  background: #79ee5c;
  color: #000;
}

button:disabled {
  background-color: #6d737f !important;
  color: #464952 !important;
  cursor: no-drop;
  box-shadow: none;
}

.img-box {
  width: 48px;
  height: 48px;
}

.icon {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}

.box-title {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  gap: 16px;
}
