.App {
  min-height: 100vh;
  overflow: hidden;
  position: relative;
}

.videoTag {
  filter: brightness(60%) blur(4px);
  left: 0;
  mask-image: linear-gradient(180deg, #000 70%, #0000);
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
  object-fit: cover;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  max-height: 770px;
  z-index: 1;
}

.App-content header {
  position: relative;
  z-index: 800;
}

.App-header-head {
  border-bottom: 1px solid var(--Border, #373f5c80);
  display: flex;
  height: 64px;
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 16px;
  left: 0;
  position: absolute !important;
  right: 0;
  top: 0;

  @media screen and (max-width: 1350px) {
    display: none;
  }
}

.App-header-responsive {
  display: none;


  @media screen and (max-width: 1350px) {
    display: flex;
    align-items: center;
    height: 64px;
    backdrop-filter: blur(4px);
    border-bottom: 1px solid #373f5c80;
    border-bottom: 1px solid var(--Border, #373f5c80);
    display: flex;
    justify-content: space-between;
    padding: 12px 16px;
    position: relative;
  }

  @media screen and (max-width: 450px) {
    padding: 12px 6px;

  }

  .App-header-top {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
  }

  .App-header-link-container {
    align-items: center;
  }
}

.App-header-container-left {
  display: flex;
  align-items: center;
}

.App-header-menu-icon-block {
  align-items: center;
  display: flex;
  margin-left: 0;
  margin-right: 12px;

  @media screen and (max-width: 450px) {
    margin-right: 4px !important;

  }
}

.App-header-menu-icon {
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  margin: 9px 10px;
  opacity: 0.7;

  @media screen and (max-width: 450px) {
    margin: 4px 5px !important;

  }
}

.App-header-link-main {
  cursor: pointer;
  display: flex;
  font-size: 1.7rem;
  margin-left: -15px;
  margin-right: 12px;
  padding: 15px;

  img {
    display: inline-block;
    vertical-align: middle;
  }

  @media screen and (max-width: 450px) {
    padding: 1.5px !important;
    margin: 0px !important;


  }

  @media screen and (max-width: 1350px) {
    img {
      height: 21px;
    }
  }
}

.clickable {
  cursor: pointer;
}

.App-header-links {
  display: flex;

  &.menu {
    display: unset;
  }
}

.App-header-links-item {
  align-items: center;
  display: flex;
  position: relative;

  a {
    font-size: normal;
    line-height: 140%;
    color: #828899;
    display: flex;
    font-size: 14px;
    font-weight: 500;
    padding: 8px 12px;
    text-decoration: none;
    vertical-align: middle;
  }

  a:hover {
    color: #2ecf06 !important;
    opacity: 1;
  }
}

.App-header-container-right {
  display: flex;
  align-items: center;
}

.App-header-user {
  display: flex;
  align-items: center;
  gap: 8px;

  @media screen and (max-width: 1350px) {
    padding-bottom: 0;
  }
}

.App-header-trade-link {
  border-radius: 12px;

  @media screen and (max-width: 450px) {
    margin-right: 16px;

    a {
      padding: 0 8px;
    }
  }

  a {
    cursor: pointer;
    vertical-align: middle;
  }

  a:hover {
    background: #79ee5c;
    color: #000;
  }
}

/* Menu Responsive */
.App-header-backdrop {
  display: none;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;

  &.active {
    display: block;
  }
}

.App-header-drawer {
  display: none;
  height: 100vh;
  left: 0;
  opacity: 1;
  overflow-y: auto;
  position: fixed;
  right: 0;
  scrollbar-width: none;
  top: 0;
  width: 350px;
  z-index: 801;
  background: #1a1d26;
  max-width: 100%;

  &.active {
    display: block;
  }
}

.App-header-links-header {
  height: 68px;
  padding: 16px 0 16px 8px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-left: 16px;


}

.App-header-link-container-menu {
  padding: 0 16px;
  align-items: center;
  display: flex;
  position: relative;

  a {
    color: #828899;
    display: block;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .1px;
    line-height: 18px;
    padding: 12px 16px !important;
    text-decoration: none;
    width: 100%;
    border-radius: 100px;
  }

  a:hover {
    background: #ffffff1a;
    color: #fff;
  }

  a:active {
    color: #79ee5c;

  }

}

.App-header-menu-icon {
  &.menu {
    color: #828899;
    opacity: 1;
  }
}

.Wrapper {
  display: flex;
  flex-direction: column;
  gap: 120px;
  width: 100%;

  @media screen and (max-width: 768px) {
    gap: 80px !important;
  }
}

.container {
  margin: 0 auto;
  max-width: 1320px;

  @media screen and (max-width: 1200px) {
    max-width: 1140px;
    padding: 0;
  }

  @media screen and (max-width: 1024px) {
    max-width: 95%;
    padding: 0;
  }

  @media screen and (max-width: 992px) {
    max-width: 95%;
    padding: 0;
  }

  @media screen and (max-width: 768px) {
    max-width: 90%;
    padding: 0;
  }

}

.wrapper {
  display: flex;
  align-items: center;
  align-self: stretch;
}

.wrapper> :not(:first-child) {
  margin-left: -2px;
}

.link-underline {
  color: #90fb75;
  cursor: pointer;
  display: inline-flex;
  text-decoration: underline;
}

.contest-container {
  left: 50%;
  transform: translate(-50%, 0%);
  align-items: center;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 104px;
  z-index: 300;

  @media screen and (max-width: 1350px) {
    width: 100vw;
  }

}

.contest {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  align-items: center;
  background: linear-gradient(90deg, #8bff55, #fbf775);
  border-radius: 100px;
  display: flex;
  gap: 8px;
  height: 35px;
  justify-content: center;
  padding: 8px 24px;
  position: relative;

  @media screen and (max-width: 550px) {
    height: auto;
    padding: 4px 20px;
    width: calc(100vw - 32px);
  }
}

.content-container {
  align-items: center;
  display: flex;
  gap: 4px;

  @media screen and (max-width: 550px) {
    display: flex;
    flex-direction: column;

  }
}


@media screen and (max-width: 550px) {
  .contest-title {
    text-align: center;
  }

  .stroke {
    display: none;
  }

  .details {
    position: absolute !important;
    right: 16px !important;
  }

  .cup {
    left: 16px !important;
    top: 3px !important;
  }
}


.details {
  cursor: pointer;
  display: inline-flex;
  text-decoration: underline;

  a {
    color: #000;
  }

  a:hover {
    color: #2ecf06;
  }
}

.cup {
  bottom: -3.467px;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  left: 0;
  left: -10.5px;
  line-height: 140%;
  position: absolute;
  top: 0;
  transform: rotate(-15deg);
}

.border-btn:not(:disabled):not(.disabled):hover,
.border-btn:not(:disabled):not(.disabled):hover:enabled {
  border: 1px solid #90fb75 !important;
  box-shadow: none !important;
  color: #90fb75 !important;
}

.border-btn:has(a),
.border-btn:is(a) {
  align-items: center;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.border-btn {
  background: none !important;
  border: 1px solid rgba(55, 63, 92, 0.502) !important;
  border-radius: 100px !important;
  color: #fff !important;
  font-size: 14px !important;
  font-weight: 700 !important;
  height: 40px;
  line-height: 140% !important;
}

.default-btn1:not(:disabled):hover,
.default-btn:not(:disabled):hover {
  background: #79ee5c;
  color: #000;
}

button:disabled {
  background-color: #6d737f !important;
  color: #464952 !important;
  cursor: no-drop;
  box-shadow: none;
}

.img-box {
  width: 48px;
  height: 48px;
}

.icon {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}

.box-title {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  gap: 16px;
}