@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
* {
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
}
body {
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: unset;
  background-color: #000;
  color: #fff;
  font-size: 10px;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}
.default-btn {
  align-items: center;
  -webkit-appearance: none;
  appearance: none;
  background: #90fb75;
  background: var(#90fb75);
  border: none;
  border-radius: 100px !important;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: flex;
  display: inline-flex !important;
  font-size: 14px;
  justify-content: center;
  letter-spacing: 0;
  line-height: 140%;
  min-height: 40px;
  padding: 8px 16px;
  position: relative;
  text-decoration: none;
  font-weight: 700 !important;
}
img {
  pointer-events: none;
  border-style: none;
  vertical-align: middle;
}
